___
layout: default
___
<a href="{{ site.baseurl }}/writing">Back to index</a>
<h2>{{post.title}}</h2>
{% assign d = post.date | date: "%d" | plus:'0' %}
{% assign m = post.date | date: "%B" %}

{% case m %}
{% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
{% when 'September' %}Sept.
{% else %}{{ post.date | date: "%b" }}.
{% endcase %}
{% case d %}
{% when 1 or 21 or 31 %}{{ d }}st
{% when 2 or 22 %}{{ d }}nd
{% when 3 or 23 %}{{ d }}rd
{% else %}{{ d }}th
{% endcase %},
{{ post.date | date: "%Y" }}

{{ content }}
